<!-- Action call -->
<div class="jumbotron jumbotron-fluid text-center bg-nav d-flex flex-column mb-1" data-src="https://cdn.statically.io/img/img.softorage.com/background-cover/action-call-bg.jpg" style="height:100vh; background: url('https://cdn.statically.io/img/img.softorage.com/background-cover/action-call-bg.jpg') 50% 10% / cover no-repeat fixed; box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.8);">
  <div style="height:3.5rem;" class="anchor" id="action_call"></div>
  <div class="container my-auto">
    <div class="text-center tg">
      <span class="h2">Try searching for your preferred software now!</span>
      <br class="mb-5">
      <div class="bg-nav border-0 my-2 shadow-sm flex-fill type-search rounded-lg">
        <div class="row pl-3">
          <div class="col-1 py-2">
            <span class="text-antinav">{{ site.Data.icons.search | safeHTML }}</span>
          </div>
          <div class="col-11">
            <form action="/search/" method="get">
              <input type="search" class="bg-nav border-0 form-control" name="s" placeholder="Type in name of the software and hit Enter!" aria-label="Type in name of the software and hit Enter!">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
