// Theme specific colors
{{ $theme := site.Data.themes.light }}

$clr1: {{ $theme.clr1 | default "#fc466b" }};
$clr2: {{ $theme.clr2 | default "#3f5efb" }};
$nav: {{ $theme.nav | default "#ffffff" }}; //background
$antinav: {{ $theme.antinav | default "#000000" }}; // text
$mat: {{ $theme.mat | default "#fbf5ff" }};
$clr1-light: mix($clr1, $nav, 5%);
$clr2-light: mix($clr2, $nav, 5%);
$nav-light: mix($nav, $antinav, 5%); // text
$antinav-light: mix($antinav, $nav, 2%); // background

// Import partials from sass dir
@import
  "bootstrap/bootstrap",
  "fa"
;

/*! for logo f41845, 1e3fe7 ; light colors-for dark theme ff5c7c, 617bff
 * Custom CSS
 */

html {
scroll-behavior: smooth;
}

// specifying this at top, so that, it is overridden when need be
body {
font-family: 'Lato', sans-serif;
background: $nav;
color: $antinav;
}

.brand {
font-family: 'Roboto', sans-serif;
}

// https://codepen.io/Bluetidepro/pen/GkpEa : slightly modified
.rating-stars {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 1rem;
  height: 1rem; // it is recommended that font-size and height is equal
  width: 5rem; // width needs to be 5 times font-size so that each star correspond to 20% (not true if used text-center class from twbs, since &-top and &-bottom donot start from same starting, but have their center coninciding. Alternative to text-center in this case, may be d-flex with justify-content-center)
  margin: 0;
  position: relative;
  padding: 0;
  overflow-wrap: normal;
  
  &-top {
    color: #fbbc05;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

// adding .anchor class to anchor makes `element hiding behind fixed-top-navbar` problem go.
// just that a distinct anchor shall be created (preferably with <span>) as its visibility is hidden.
// https://stackoverflow.com/a/13184714
.anchor {
display: block;
position: relative;
top: -5.45rem;
visibility: hidden;
}

.stick {
position: fixed;
top: 56px;
left: 0;
right: 0;
}

// *
blockquote {
@extend .p-3;
font-weight: 250;
background: mix($antinav, $nav, 3%);
border-left: 10px solid mix($antinav, $nav, 15%);
}

// *
.bg-warning-light {
background: mix($warning, $nav, 15%);
}

.bg-success-light {
background: mix($success, $nav, 25%);
}

.bg-danger-light {
background: mix($danger, $nav, 25%);
}

// Enable animation for navbar and font awesome
.navbar, a, .fas, .fab, .far {
transition: all 0.3s ease 0s;
}

/*
// Change color to $clr1 on hovering anchored FontAwesome
a .fas:hover, a .fab:hover, a .far:hover {
color: $clr1;
}
*/

//
.nav-tabs .nav-link.active {
box-shadow: inset 0 2px 3px 1px #ddd;
}

//
.btn {
@extend .shadow-sm;
cursor: pointer;
}

//
input[type="url"]:hover, input[type="url"]:focus, input[type="text"]:hover, input[type="text"]:focus, input[type="search"]:hover, input[type="search"]:focus, textarea:hover, textarea:focus, select:hover, select:focus, .btn:hover {
@extend .shadow;
transition: all 0.3s ease 0s;
}

// *
.card {
@extend .shadow-sm, .border-0;
background: $nav;
color: $antinav;
}

// text-gradient- for brand name
.tg {
background: linear-gradient(36deg, $clr1 0%, $clr2 100%);
background-clip: text;
color: transparent;
}

// Styling popover to make it a little cozy
.popover {
border: 0;
@extend .shadow;
}

.popover .popover-header {
background-color: $nav;
color: $antinav;
font-size: 1.1rem;
text-align: center;
font-family: 'Lato', sans-serif;
}

.popover .popover-body {
background-color: $nav;
color: $antinav;
padding: 1.25rem;
font-family: 'Lato', sans-serif;
}

//
.tooltip {
font-family: 'Lato', sans-serif;
}

// Styling table, so that class names are not necessary. Very handy for markdown rendered content!
table {
@extend .table, .table-bordered;
}
th {
@extend .text-center, .align-middle;
}
td {
@extend .align-middle;
}

//
.main-gradient {
background: $clr1;
background: linear-gradient(36deg, $clr1 0%, $clr2 100%);
}

.main-gradient-light {
background: $clr1-light;
background: linear-gradient(36deg, $clr1-light 20%, $clr2-light 100%); 
}

.text-clr1 {
color: $clr1;
}

.text-clr2 {
color: $clr2;
}

.text-clr1-light {
color: $clr1-light;
}

.text-clr2-light {
color: $clr2-light;
}

.text-nav {
color: $nav;
}

.text-nav-light {
color: $nav-light;
}

.text-antinav {
color: $antinav !important;
}

.text-antinav-light {
color: $antinav-light;
}

button.close{
outline: none;
}

.btn-hover {
background-size: 300% 100%;
transition: all .3s ease-in-out;
}
.btn-hover:hover {
box-shadow: 0 5px 25px 0px rgba(64, 228, 149, 0.75) !important;
background-position: 100% 0;
transition: all .3s ease-in-out;
}
.btn-hover:focus {
outline: none;
}

.btn-download {
width: 150px;
font-size: 16px;
font-weight: 600;
color: #fff;
height: 50px;
text-align: center;
border: none;
background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
}

.btn-grad {
background-image: linear-gradient(90deg,  $clr1 0%, $clr2 100%);
}

.bg-mat {
background: $mat;
}

.bg-clr1 {
background: mix($clr1, $clr2, 95%);
}

.bg-clr2 {
background: mix($clr1, $clr2, 5%);
}

.bg-clr1-light {
background: $clr1-light;
}

.bg-clr2-light {
background: $clr2-light;
}

.bg-nav {
background: $nav;
}

.bg-antinav {
background: $antinav;
}

.bg-nav-light {
background: $nav-light;
}

.bg-antinav-light {
background: $antinav-light;
}

// Lighten class and its usage along with btn class
.lighten-sm {
background: rgba($nav, 0.05);
}

.lighten-md {
background: rgba($nav, 0.1);
}

.lighten {
background: rgba($nav, 0.15);
}

.lighten-lg {
background: rgba($nav, 0.2);
}

.lighten-xlg {
background: rgba($nav, 0.25);
}

.btn.lighten-sm:hover {
background: rgba($nav, 0.1);
}

.btn.lighten-md:hover {
background: rgba($nav, 0.15);
}

.btn.lighten:hover {
background: rgba($nav, 0.2);
}

.btn.lighten-lg:hover {
background: rgba($nav, 0.25);
}

.btn.lighten-xlg:hover {
background: rgba($nav, 0.7);
}

.btn.lighten-sm:focus {
background: rgba($nav, 0.2);
}

.btn.lighten-md:focus {
background: rgba($nav, 0.25);
}

.btn.lighten:focus {
background: rgba($nav, 0.3);
}

.btn.lighten-lg:focus {
background: rgba($nav, 0.35);
}

.btn.lighten-xlg:focus {
background: rgba($nav, 1);
}

// Colouring Font-Awesome icons
.card .btn-sm .fa-shoe-prints, .card .btn-sm .fa-info, .card .btn-sm .fa-question {
color: $clr2;
}

// * general icons to be shown in black, even when they are used in anchored tags
.fa-comments {
color: #000000;
}

.fa-rss {
color: #f26522;
}

// * brands
.fa-gitlab {
color: #fca326;
}

.fa-github {
color: #333333;
}

.fa-steam {
color: #00adee;
}

.fa-twitter {
color: #1da1f2;
}

.fa-facebook {
color: #3b5998;
}

.fa-instagram {
color: #e1306c;
}

.fa-youtube {
color: #ff0000;
}

.fa-pinterest {
color: #bd081c;
}

.fa-google-plus {
color: #dd4b39;
}

.fa-linkedin {
color: #0077b5;
}

.fa-reddit {
color: #ff4500;
}

.fa-flickr {
color: #0063dc;
}

.fa-deviantart {
color: #05cc47;
}

.fa-vk {
color: #45668e;
}

.fa-mastodon {
color: #2A8FDD;
}

.fa-bandcamp {
color: #629aa9;
}

.fa-tumblr {
color: #35465c;
}

.fa-medium {
color: #000000;
}

.fa-wikipedia-w {
color: #000000;
}

.fa-whatsapp {
color: #25d366;
}

.fa-apple {
color: #666666;
}

.fa-android {
color: #a4c639;
}

.fa-linux {
color: #000000;
}

.fa-windows {
color: #0078d7;
}

// Cookie Consent from Osano; url: https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css
/* purgecss start ignore */
// osano cookie consent customization
.cc-banner {
box-shadow: 0 -0.5rem 1rem rgba(0,0,0,.045) !important; // @extend .shadow; just shadow drops above
font-size: 75% !important;
font-weight: 400;
}

// osano cookie consent css - prettified; 
.cc-window {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease
}

.cc-window.cc-invisible {
  opacity: 0
}

.cc-animate.cc-revoke {
  -webkit-transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease
}

.cc-animate.cc-revoke.cc-top {
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em)
}

.cc-animate.cc-revoke.cc-bottom {
  -webkit-transform: translateY(2em);
  transform: translateY(2em)
}

.cc-animate.cc-revoke.cc-active.cc-top {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.cc-animate.cc-revoke.cc-active.cc-bottom {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.cc-revoke:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.cc-grower {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  transition: max-height 1s
}

.cc-revoke,
.cc-window {
  position: fixed;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  z-index: 9999
}

.cc-window.cc-static {
  position: static
}

.cc-window.cc-floating {
  padding: 2em;
  max-width: 24em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.cc-window.cc-banner {
  padding: 1em 1.8em;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}

.cc-revoke {
  padding: .5em
}

.cc-revoke:hover {
  text-decoration: underline
}

.cc-header {
  font-size: 18px;
  font-weight: 700
}

.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
  cursor: pointer
}

.cc-link {
  opacity: .8;
  display: inline-block;
  padding: .2em;
  text-decoration: underline
}

.cc-link:hover {
  opacity: 1
}

.cc-link:active,
.cc-link:visited {
  color: initial
}

.cc-btn {
  display: block;
  padding: .4em .8em;
  font-size: .9em;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap
}

.cc-highlight .cc-btn:first-child {
  background-color: transparent;
  border-color: transparent
}

.cc-highlight .cc-btn:first-child:focus,
.cc-highlight .cc-btn:first-child:hover {
  background-color: transparent;
  text-decoration: underline
}

.cc-close {
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 1.6em;
  opacity: .9;
  line-height: .75
}

.cc-close:focus,
.cc-close:hover {
  opacity: 1
}

.cc-revoke.cc-top {
  top: 0;
  left: 3em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em
}

.cc-revoke.cc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em
}

.cc-revoke.cc-left {
  left: 3em;
  right: unset
}

.cc-revoke.cc-right {
  right: 3em;
  left: unset
}

.cc-top {
  top: 1em
}

.cc-left {
  left: 1em
}

.cc-right {
  right: 1em
}

.cc-bottom {
  bottom: 1em
}

.cc-floating>.cc-link {
  margin-bottom: 1em
}

.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em
}

.cc-window.cc-floating .cc-compliance {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}

.cc-window.cc-banner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.cc-banner.cc-top {
  left: 0;
  right: 0;
  top: 0
}

.cc-banner.cc-bottom {
  left: 0;
  right: 0;
  bottom: 0
}

.cc-banner .cc-message {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
  margin-right: 1em
}

.cc-compliance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between
}

.cc-floating .cc-compliance>.cc-btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.cc-btn+.cc-btn {
  margin-left: .5em
}

@media print {
  .cc-revoke,
  .cc-window {
    display: none
  }
}

@media screen and (max-width:900px) {
  .cc-btn {
    white-space: normal
  }
}

@media screen and (max-width:414px) and (orientation:portrait),
screen and (max-width:736px) and (orientation:landscape) {
  .cc-window.cc-top {
    top: 0
  }
  .cc-window.cc-bottom {
    bottom: 0
  }
  .cc-window.cc-banner,
  .cc-window.cc-floating,
  .cc-window.cc-left,
  .cc-window.cc-right {
    left: 0;
    right: 0
  }
  .cc-window.cc-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .cc-window.cc-banner .cc-compliance {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }
  .cc-window.cc-floating {
    max-width: none
  }
  .cc-window .cc-message {
    margin-bottom: 1em
  }
  .cc-window.cc-banner {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset
  }
  .cc-window.cc-banner .cc-message {
    margin-right: 0
  }
}

.cc-floating.cc-theme-classic {
  padding: 1.2em;
  border-radius: 5px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
  text-align: center;
  display: inline;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none
}

.cc-theme-classic .cc-btn {
  border-radius: 5px
}

.cc-theme-classic .cc-btn:last-child {
  min-width: 140px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
  display: inline-block
}

.cc-theme-edgeless.cc-window {
  padding: 0
}

.cc-floating.cc-theme-edgeless .cc-message {
  margin: 2em;
  margin-bottom: 1.5em
}

.cc-banner.cc-theme-edgeless .cc-btn {
  margin: 0;
  padding: .8em 1.8em;
  height: 100%
}

.cc-banner.cc-theme-edgeless .cc-message {
  margin-left: 1em
}

.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn {
  margin-left: 0
}
/* purgecss end ignore */
