// Theme specific colors
{{ $theme := site.Data.themes.light }}

$clr1: {{ $theme.clr1 | default "#fc466b" }};
$clr2: {{ $theme.clr2 | default "#3f5efb" }};
$nav: {{ $theme.nav | default "#ffffff" }}; //background
$antinav: {{ $theme.antinav | default "#000000" }}; // text
$mat: {{ $theme.mat | default "#f5e8ff" }};
$clr1-light: mix($clr1, $nav, 2%);
$clr2-light: mix($clr2, $nav, 2%);
$nav-light: mix($nav, $antinav, 2%); // text
$antinav-light: mix($antinav, $nav, 2%); // background

// Import partials from sass dir
@import
  "bootstrap/bootstrap",
  "fa"
;

/*!
 * Custom CSS
 */

html {
scroll-behavior: smooth;
}

// specifying this at top, so that, it is overridden when need be
body {
font-family: 'Lato', sans-serif;
background: $nav;
color: $antinav;
}

.brand {
font-family: 'Roboto', sans-serif;
}

// https://codepen.io/Bluetidepro/pen/GkpEa : slightly modified
.rating-stars {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 1rem;
  height: 1rem; // it is recommended that font-size and height is equal
  width: 5rem; // width needs to be 5 times font-size so that each star correspond to 20%
  margin: 0;
  position: relative;
  padding: 0;
  overflow-wrap: normal;
  
  &-top {
    color: #fbbc05;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

// adding .anchor class to anchor makes `element hiding behind fixed-top-navbar` problem go.
// just that a distinct anchor shall be created (preferably with <span>) as its visibility is hidden.
// https://stackoverflow.com/a/13184714
.anchor {
display: block;
position: relative;
top: -5.45rem;
visibility: hidden;
}

.stick {
position: fixed;
top: 56px;
left: 0;
right: 0;
}

// *
blockquote {
@extend .p-3;
font-weight: 250;
background: mix($antinav, $nav, 3%);
border-left: 10px solid mix($antinav, $nav, 15%);
}

// *
.bg-warning-light {
background: mix($warning, $nav, 15%);
}

.bg-success-light {
background: mix($success, $nav, 25%);
}

.bg-danger-light {
background: mix($danger, $nav, 25%);
}

// Enable animation for navbar and font awesome
.navbar, a, .fas, .fab, .far {
transition: all 0.3s ease 0s;
}

/*
// Change color to $clr1 on hovering anchored FontAwesome
a .fas:hover, a .fab:hover, a .far:hover {
color: $clr1;
}
*/

//
.btn {
@extend .shadow-sm;
cursor: pointer;
}

//
input[type="url"]:hover, input[type="url"]:focus, input[type="text"]:hover, input[type="text"]:focus, input[type="search"]:hover, input[type="search"]:focus, textarea:hover, textarea:focus, select:hover, select:focus, .btn:hover {
@extend .shadow;
transition: all 0.3s ease 0s;
}

// *
.card {
@extend .shadow-sm, .border-0;
background: $nav;
color: $antinav;
}

// text-gradient- for brand name
.tg {
background: -webkit-linear-gradient(36deg, $clr1 0%, $clr2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

// Styling popover to make it a little cozy
.popover {
border: 0;
@extend .shadow;
}

.popover .popover-header {
background-color: $nav;
color: $antinav;
font-size: 1.1rem;
text-align: center;
font-family: 'Lato', sans-serif;
}

.popover .popover-body {
background-color: $nav;
color: $antinav;
padding: 1.25rem;
font-family: 'Lato', sans-serif;
}

// Styling table, so that class names are not necessary. Very handy for markdown rendered content!
table {
@extend .table, .table-bordered;
}
th {
@extend .text-center, .align-middle;
}
td {
@extend .align-middle;
}

//
.main-gradient {
background: $clr1;
background: linear-gradient(36deg, $clr1 0%, $clr2 100%);
}

.main-gradient-light {
background: $clr1-light;
background: linear-gradient(36deg, $clr1-light 20%, $clr2-light 100%); 
}

.text-clr1 {
color: $clr1;
}

.text-clr2 {
color: $clr2;
}

.text-clr1-light {
color: $clr1-light;
}

.text-clr2-light {
color: $clr2-light;
}

.text-nav {
color: $nav;
}

.text-nav-light {
color: $nav-light;
}

.text-antinav {
color: $antinav;
}

.text-antinav-light {
color: $antinav-light;
}

.btn-grad {
background-image: linear-gradient(90deg,  $clr1 0%, $clr2 100%);
}

.btn-grad:hover {
background-position: right center;
}

.bg-mat {
background: $mat;
}

.bg-clr1 {
background: mix($clr1, $clr2, 95%);
}

.bg-clr2 {
background: mix($clr1, $clr2, 5%);
}

.bg-clr1-light {
background: $clr1-light;
}

.bg-clr2-light {
background: $clr2-light;
}

.bg-nav {
background: $nav;
}

.bg-antinav {
background: $antinav;
}

.bg-nav-light {
background: $nav-light;
}

.bg-antinav-light {
background: $antinav-light;
}

// Lighten class and its usage along with btn class
.lighten-sm {
background: rgba($nav, 0.05);
}

.lighten-md {
background: rgba($nav, 0.1);
}

.lighten {
background: rgba($nav, 0.15);
}

.lighten-lg {
background: rgba($nav, 0.2);
}

.lighten-xlg {
background: rgba($nav, 0.25);
}

.btn.lighten-sm:hover {
background: rgba($nav, 0.1);
}

.btn.lighten-md:hover {
background: rgba($nav, 0.15);
}

.btn.lighten:hover {
background: rgba($nav, 0.2);
}

.btn.lighten-lg:hover {
background: rgba($nav, 0.25);
}

.btn.lighten-xlg:hover {
background: rgba($nav, 0.7);
}

.btn.lighten-sm:focus {
background: rgba($nav, 0.2);
}

.btn.lighten-md:focus {
background: rgba($nav, 0.25);
}

.btn.lighten:focus {
background: rgba($nav, 0.3);
}

.btn.lighten-lg:focus {
background: rgba($nav, 0.35);
}

.btn.lighten-xlg:focus {
background: rgba($nav, 1);
}

// Colouring Font-Awesome icons
.card .btn-sm .fa-shoe-prints, .card .btn-sm .fa-info, .card .btn-sm .fa-question {
color: $clr2;
}

// * general icons to be shown in black, even when they are used in anchored tags
.fa-comments {
color: #000000;
}

.fa-rss {
color: #f26522;
}

// * brands
.fa-gitlab {
color: #fca326;
}

.fa-github {
color: #333333;
}

.fa-steam {
color: #00adee;
}

.fa-twitter {
color: #1da1f2;
}

.fa-facebook {
color: #3b5998;
}

.fa-instagram {
color: #e1306c;
}

.fa-youtube {
color: #ff0000;
}

.fa-pinterest {
color: #bd081c;
}

.fa-google-plus {
color: #dd4b39;
}

.fa-linkedin {
color: #0077b5;
}

.fa-reddit {
color: #ff4500;
}

.fa-flickr {
color: #0063dc;
}

.fa-deviantart {
color: #05cc47;
}

.fa-vk {
color: #45668e;
}

.fa-mastodon {
color: #2A8FDD;
}

.fa-bandcamp {
color: #629aa9;
}

.fa-tumblr {
color: #35465c;
}

.fa-medium {
color: #000000;
}

.fa-wikipedia-w {
color: #000000;
}

.fa-whatsapp {
color: #25d366;
}

.fa-apple {
color: #666666;
}

.fa-android {
color: #a4c639;
}

.fa-linux {
color: #000000;
}

.fa-windows {
color: #0078d7;
}
