{{ define "main" -}}

<div class="container-fluid bg-nav text-clr1 text-center py-3 position-relative shadow-sm">
  <div style="height:3.5rem;"></div>
  <h1>{{ .Title }}</h1>
  <p>{{ .Description }}</p>
</div>
<div class="container-fluid bg-antinav-light py-3">
  <!-- ranges through each of the content files associated with a particular taxonomy term and renders the summary.html content view -->
  {{ range .Pages }}
    <div class="card mb-3">
      <div class="card-body text-antinav">
        <span class="anchor" id="{{ replace (lower .Title) " " "_" }}"></span>
        <div class="row">
          <div class="col-11">
            <h2> <a class="card-title text-reset align-middle" href="{{ .Permalink }}"> {{ .Title }}</a> </h2>
          </div>
          <div class="col-1">
            <button class="btn" data-toggle="collapse" data-target="#content_{{ replace (lower .Title) " " "_" }}" aria-controls="{{ replace (lower .Title) " " "_" }}"><span class="fas fa-arrow-down"></span></button>
          </div>
        </div>
        <!-- -->
        <div class="card-text mt-3 collapse" id="content_{{ replace (lower .Title) " " "_" }}" aria-labelledby="{{ replace (lower .Title) " " "_" }}" style>
          {{ range .Pages }}
            <a class="btn h4" href="{{ .Permalink }}">
            {{- if .Params.image -}}
              <img style="height:2rem;" src="{{ .Params.image }}" alt="{{ .Title }} logo"><hr class="my-1">
            {{- else -}}
              <span class="text-nav font-weight-bold bg-antinav rounded px-2 py-1" style="height:2rem;">N/A</span><hr class="my-1">
            {{- end -}}
            {{ .Title }}
            </a>&nbsp;
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
</div>

{{- end }}
 
