{{ define "main" -}}

<div class="container-fluid bg-clr1-light text-clr1 text-center py-3 position-relative shadow-sm">
  <div style="height:3.5rem;"></div>
  <h1>{{ .Title }}</h1>
  <p>{{ .Params.tagline }}</p>
</div>
<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-nav text-antinav">
      <div class="modal-header">
        <h5 class="modal-title" id="filter-modal-label">Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-antinav" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body filter-modal-body" id="filter-list">
        <input type="text" class="bg-nav form-control fuzzy-search" placeholder="Search">
        <span class="small float-right">search by <a href="https://listjs.com/">List.js</a></span>
        <br><br>
        <div class="form-group list">
          {{/* range $key, $value := site.Taxonomies.categories }}
            <li><a href="{{ $baseurl }}categories/{{ $key | urlize  }}">{{ $key | humanize }}</a> ({{ len $value }})</li>
          {{ end */}}
          {{- range $key, $value := site.Taxonomies.categories -}}
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="{{ lower (replace $key " " "_") }}">
              <label class="form-check-label" for="{{ lower (replace $key " " "_") }}"> <span class="category-filter">{{ $key }}</span></label>
            </div>
          {{- end -}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- -->
<div class="container-fluid bg-clr2-light py-3">
  <div class="card mb-3">
    <div class="card-body" id="software-list">
      <div class="card-text">
        <div class="form-inline bg-nav p-2 shadow-sm menu" style="z-index:1030;">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm bg-clr2-light" data-toggle="modal" data-target="#filter-modal">
            <span class="fas fa-filter text-clr2"></span>&nbsp; <span class="text-clr2">Filter</span>
          </button>
          <!-- 
          wanted to use fuzzy-search, but it does not handle long sentences or paragraphs due to performance reasons
          see: https://github.com/javve/list.js/issues/358
          -->
          <input type="text" class="bg-nav form-control my-2 mx-sm-2 search" placeholder="Search">
          <span class="small">search by <a href="https://listjs.com/">List.js</a></span>
        </div>
        <br>
        <div class="table-responsive-md">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Title &nbsp;<span class="btn btn-sm small sort asc" data-sort="name"><span class="fas fa-sort text-antinav"></span></span></th>
                <th class="text-center" scope="col">Description</th>
                <th class="text-center" scope="col">Available for</th>
              </tr>
            </thead>
            <tbody class="list">
              {{- range $index, $element := where site.RegularPages "Section" "==" "software" -}}
                <tr>
                  <th class="text-center" scope="row">{{ add $index 1 }}</th>
                  <td><a class="font-weight-bold text-antinav text-reset" href="{{ $element.Permalink }}" target="_blank"><span class="name">{{ $element.Title }}</span></a>&nbsp;<span class="fas fa-external-link-alt small"></span></td>
                  <td>
                    {{- if $element.Params.description -}}
                      <span class="description">{{ $element.Params.description }}</span>
                    {{- else -}}
                      <p>Not available</p>
                    {{- end -}}
                    <br>
                    <div class="bg-clr2-light text-clr2 py-1 px-2 text-center rounded shadow-sm category">
                      {{- range $i, $e := $element.Params.categories }}
                        {{- if $i }} | {{ end}}{{ $e }}
                      {{- end -}}
                    </div>
                  </td>
                  <td class="text-center">
                    {{- range $element.Params.platform }}
                      {{- if .dskp -}}
                        <a role="button" class="btn" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-original-title="Desktop" data-content="
                          {{- range .dskp -}}
                            {{ if eq .name "Linux" }}
                              {{- if eq .type "official" -}}
                                <span class='fab fa-linux fa-2x'></span>&nbsp;&nbsp;
                              {{- else -}}
                                <span class='fab fa-linux fa-2x border border-warning p-1'></span>&nbsp;&nbsp;
                              {{- end }}
                            {{- else if eq .name "Windows" }}
                              {{- if eq .type "official" -}}
                                <span class='fab fa-windows fa-2x'></span>&nbsp;&nbsp;
                              {{- else -}}
                                <span class='fab fa-windows fa-2x border border-warning p-1'></span>&nbsp;&nbsp;
                              {{- end }}
                            {{- else if eq .name "macOS" }}
                              {{- if eq .type "official" -}}
                                <span class='fab fa-apple fa-2x'></span>&nbsp;&nbsp;
                              {{- else }}
                                <span class='fab fa-apple fa-2x border border-warning p-1'></span>&nbsp;&nbsp;
                              {{- end }}
                            {{- else }}
                              {{- if eq .type "official" -}}
                                <span class='shadow-sm p-2' style='margin-top:-1rem;'>{{ .name }}</span>&nbsp;&nbsp;
                              {{- else -}}
                                <span class='border border-warning shadow-sm p-2' style='margin-top:-1rem;'>{{ .name }}</span>&nbsp;&nbsp;
                              {{- end }}
                            {{- end }}
                          {{- end -}}
                        "><span class="fas fa-desktop text-clr2"></span></a>
                      {{- else if .smp -}} 
                        <a role="button" class="btn" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-original-title="Smartphone" data-content="
                          {{- range .smp -}}
                            {{ if eq .name "Android" }}
                              {{- if eq .type "official" -}}
                                <span class='fab fa-android fa-2x'></span>&nbsp;&nbsp;
                              {{- else -}}
                                <span class='fab fa-android fa-2x border border-warning p-1'></span>&nbsp;&nbsp;
                              {{- end }}
                            {{- else if eq .name "iOS" }}
                              {{- if eq .type "official" -}}
                                <span class='fab fa-apple fa-2x'></span>&nbsp;&nbsp;
                              {{- else -}}
                                <span class='fab fa-apple fa-2x border border-warning p-1'></span>&nbsp;&nbsp;
                              {{- end }}
                            {{- else }}
                              {{- if eq .type "official" -}}
                                <span class='shadow-sm p-2' style='margin-top:-1rem;'>{{ .name }}</span>&nbsp;&nbsp;
                              {{- else -}}
                                <span class='border border-warning shadow-sm p-2' style='margin-top:-1rem;'>{{ .name }}</span>&nbsp;&nbsp;
                              {{- end }}
                            {{- end }}
                          {{- end -}}
                        "><span class="fas fa-mobile-alt text-clr2"></span></a>
                      {{- else if .tab -}} 
                        <a role="button" class="btn" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-original-title="Tablet" data-content="
                          {{- range .tab -}}
                            {{ if eq .name "Android" }}
                              {{- if eq .type "official" }}
                              <span class='fab fa-android fa-2x'></span>&nbsp;&nbsp;
                              {{- else -}}
                                <span class='fab fa-android fa-2x border border-warning p-1'></span>&nbsp;&nbsp;
                              {{- end }}
                            {{- else if eq .name "iOS" }}
                              {{- if eq .type "official" -}}
                                <span class='fab fa-apple fa-2x'></span>&nbsp;&nbsp;
                              {{- else -}}
                                <span class='fab fa-apple fa-2x border border-warning p-1'></span>&nbsp;&nbsp;
                              {{- end }}
                            {{- else }}
                              {{- if eq .type "official" -}}
                                <span class='shadow-sm p-2' style='margin-top:-1rem;'>{{ .name }}</span>&nbsp;&nbsp;
                              {{- else -}}
                                <span class='border border-warning shadow-sm p-2' style='margin-top:-1rem;'>{{ .name }}</span>&nbsp;&nbsp;
                              {{- end }}
                            {{- end }}
                          {{- end -}}
                        "><span class="fas fa-tablet-alt text-clr2"></span></a>
                      {{- else -}} 
                        <a role="button" class="btn" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-original-title="Else" data-content="
                          {{- range .else -}}
                            {{ if eq .type "official" -}}
                              <span class='badge badge-light' title='This software framework/application would possibly run on every platform that can run {{ .name }}' style='margin-top:-1rem;'>{{ .name }}</span>&nbsp;&nbsp;
                            {{- else -}}
                              <span class='border border-warning badge badge-light' title='This software framework/application would possibly run on every platform that can run {{ .name }}' style='margin-top:-1rem;'>{{ .name }}</span>&nbsp;&nbsp;
                            {{- end }}
                          {{- end -}}
                        "><span class="fas fa-bars text-clr2"></span></a>
                      {{- end }}&nbsp;
                    {{- end -}}
                  </td>
                </tr>
              {{- end -}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- "main" block end -->

{{- end }}
{{- define "script" -}}

{{/*
Ensure that there is no non-JavaScript code in script block, otherwise errore might occur
<!-- List.js JavaScript file -->
*/}}
{{- $js_listjs := resources.Get "js/list.min.js" }}

{{- $script := `
/* https://html-online.com/articles/get-url-parameters-javascript/ */
function getURLVars() {
  var vars = {};
  var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
    vars[key] = value;
  });
  return vars;
}
/*
use:
if example URL- www.url.com/?num=3&text=three then
var number = getUrlVars()["num"]; var mytext = getUrlVars()["text"];
*/
var categoryStrFromURL = decodeURI(getURLVars()["category"]).toLowerCase().replace(/\s/g, "_");
/* categoryStrFromURL gets value undefined when there are no parameters in URL */
if (categoryStrFromURL != "undefined" && categoryStrFromURL != "") {
  var categoryArrFromURL = categoryStrFromURL.split("+");
  console.log(categoryArrFromURL);
}
/*
adding elements of one array at the end of another
https://stackoverflow.com/a/17368101
*/
Array.prototype.extend = function(other_array) {
  if (Array.isArray(other_array)) {
    /* a test to check whether other_array really is an array */
    other_array.forEach(function(v) {
      this.push(v)
    }, this);
  } else {
    console.log("Parameter of function is not an array. Please ensure that you are passing a valid array as a 'parameter' into Array.extend(parameter)");
  }
}
/*
use:
var a = [1,2,3];
var b = [5,4,3];
a.extend(b);
*/
var softwareListOptions = {
  valueNames: ["name", "description", "category"]
};
var filterListOptions = {
  valueNames: ["category-filter"]
};
var softwareList = new List("software-list", softwareListOptions);
var filterList = new List("filter-list", filterListOptions);
/* selection array that holds the filter(category) values */
var selection = [];
/* do not extend selection array if categoryArrFromURL is undefined */
if (categoryArrFromURL) {
  selection.extend(categoryArrFromURL);
}
$("#filter-modal .list input.form-check-input").each(function() {
  for (var i = 0; i < selection.length; i++) {
    if ($(this).attr("id") == selection[i]) {
      $(this).attr("checked", "");
      return true;
      /* Returning non-false is the same as 'a continue statement in a for loop'; it will skip immediately to the next iteration */
    }
  }
});

function filterSoftwareList() {
  /*
  runs a filter on the list
  What it does is that, it loops through all the 'items' and runs the function(item);
  item is shown if true is returned and not shown if false is returned
  also once true or false is returned, current iteration is skipped(kind of like continue in for loop)
  */
  softwareList.filter(function(item) {
    /* show all items if all checkboxes are unticked */
    if (selection.length == 0) {
      return true;
    } else {
      /*
      looks for something with class 
      of "category", then turns any 
      values to lowercase just to make 
      sure human error doesn't break this
      */
      var categoryString = item.values().category.toLowerCase().replace(/\s/g, "_");
      /*
      this turns multiple entries separated 
      by a comma and space into different
      elements in an array
      */
      var categoryArray = categoryString.split("_|_");
      /* we then loop through the array */
      for (var i = 0; i < categoryArray.length; i++) {
        /*
        this checks each possible "category"
        against the selection
        and filters the list based on the 
        one that matches
        */
        for (var j = 0; j < selection.length; j++) {
          if (categoryArray[i] == selection[j]) {
            return true;
          }
        }
      }
    }
    return false;
  });
}
filterSoftwareList();
$(".filter-modal-body input[type='checkbox']").on("change", function() {
  /*
  this sets the selection term
  based on special "id" on <li>s in filter <ul>
  */
  if ($(this).is(":checked")) {
    selection.push($(this).attr("id").toLowerCase().replace(/\s/g, "_"));
  } else {
    var selectionIndex = selection.indexOf($(this).attr("id").toLowerCase().replace(/\s/g, "_"));
    selection.splice(selectionIndex, 1);
  }
  filterSoftwareList();
  return false;
});

/* */
var stickyMenu = $(".menu").offset().top;

$(window).on("scroll", function() {  
  if ($(window).scrollTop() > stickyMenu-56) {
    $(".menu").removeClass("shadow-sm").addClass("shadow stick");
  } else {
    $(".menu").removeClass("shadow stick").addClass("shadow-sm");
  }  
});
` }}

{{- $js_softlistjs := $script | resources.FromString "js/softlist.js" | minify }}
{{- $js_listjs.Content | safeJS }}
{{ $js_softlistjs.Content | safeJS -}}

{{- end }}
