{{ define "main" -}}

<div class="container-fluid bg-clr1-light text-clr1 text-center pb-3 pt-4 position-relative shadow-sm">
  <div style="height:3.5rem;"></div>
  <h1>{{ .Title }}</h1>
  <p>{{ .Params.tagline }}</p>
  <noscript class="alert alert-warning"><b>Warning:</b> Softorage may not work at its best when JavaScript is disabled.</noscript>
</div>
<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-nav text-antinav shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="filter-modal-label">Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-antinav" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body filter-modal-body" id="filter-list">
        <!-- since search is not much use for filters for now, being commented temp'ly.
        <input type="search" class="bg-nav border-0 form-control search shadow-sm" placeholder="Search">
        <span class="small float-right">search by <a href="https://listjs.com/">List.js</a></span>
        <br><br>
        -->
        <div class="form-group list">
          <span class="lead">Categories</span>
          {{/* Example usage:
          {{ range $key, $value := site.Taxonomies.categories }}
            <li><a href="{{ $baseurl }}categories/{{ $key | urlize }}">{{ $key | humanize }}</a> ({{ len $value }})</li>
          {{ end }}
          */}}
          <div class="border rounded p-2">
            <div style="max-height:15rem;overflow-y:auto;">
              {{- range $key, $value := site.Taxonomies.categories -}}
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="{{ lower (replace $key "-" "_") }}">
                  <label class="form-check-label" for="{{ lower (replace $key "-" "_") }}"> <span class="category-filter">{{ $key | humanize | title }}</span></label>
                </div>
              {{- end -}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- -->
<div id="software-list">
  <div class="container-fluid bg-antinav-light py-3 list">
    <!-- Defining $proprietary and $rating_stars as a global variable -->
    {{- $proprietary := false }}
    {{- $rating_stars := 0 }}
    
    {{- range $index, $element := sort (where site.RegularPages "Section" "==" "software") "Title" -}}
      <div class="card mb-3">
        <div class="card-body text-antinav">
          <div class="card-title align-middle">
            <span class="h3">{{ add $index 1 }}</span>&nbsp;
            <a class="text-reset h3" href="{{ $element.Permalink }}" target="_blank"><span class="name">{{ replace (replace $element.Title "(" "<span class='small' style='font-weight: 300; font-size: 1rem;'>") ")" "</span>" | safeHTML }}</span></a>&nbsp; {{ site.Data.icons.externalLink | safeHTML }}&nbsp;&nbsp;
            <span class="text-muted small float-right">
              
              {{- if $element.Params.license }}
                {{- range $ind_lic, $lic := $element.Params.license }}
                  {{- if $ind_lic }}, {{ end }}<span{{ if in $lic "(m)" }} title="{{ $lic }} modified"{{ end }}>{{ $lic }}</span>
                  {{- if in $lic "Proprietary" }}{{ $proprietary = true }}{{ end }}
                {{- end }}
                {{- if not $proprietary }} | <span class="text-success">Free and Open Source</span> {{- end }}
              {{- else -}}
                No license found
              {{- end -}}
              
            </span>
            
            <br>
            {{- if $element.Params.rating }}
              {{- $len := len $element.Params.rating }} <!-- length of loop -->
              {{- range $rt := $element.Params.rating }}
                {{- $rating_stars = add $rating_stars (div (mul (index $rt.rate 0) 1.0) (index $rt.rate 1)) -}} <!-- if one is float then only is the result a float -->
              {{- end }}
              {{- $rating_stars = div $rating_stars $len }}
              
              <div class="rating-stars" style="--rating: {{ $rating_stars }};" aria-label="Rating: {{ mul $rating_stars 5 }} out of 5"></div>
              
            {{- else }}<span class="text-muted">No rating found.</span>
            {{- end -}}
          </div>
          <div class="card-text">
            {{- if $element.Params.description -}}
              <span class="description">{{ $element.Params.description }}</span>
            {{- else -}}
              <p>Not available</p>
            {{- end -}}
            <br>
            <div class="mt-2">
              <span class="bg-clr2-light small text-clr2 p-2 text-center rounded category">
                {{- delimit $element.Params.categories " | " -}}
              </span>
                
              <span class="float-right">
                {{- range $element.Params.platform }}
                  {{- partial "reusables/platform.html" . }}
                {{- end -}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Reset value of $rating_stars to default, zero -->
      {{- $rating_stars = 0 }}
      <!-- Reset value of $proprietary to default, false -->
      {{- $proprietary = false }}
    {{- end -}}
  </div>
</div>
<!-- "main" block end -->

{{- end }}
{{- define "script" -}}

{{/*
Ensure that there is no non-JavaScript code in script block, otherwise errors might occur
<!-- List.js JavaScript file -->
*/}}
{{- $js_listjs := resources.Get "js/list.min.js" }}

{{- $script := `
/* https://html-online.com/articles/get-url-parameters-javascript/ */
function getURLVars() {
  var vars = {};
  var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
    vars[key] = value;
  });
  return vars;
}
/*
use:
if example URL- www.url.com/?num=3&text=three then
var number = getUrlVars()["num"]; var mytext = getUrlVars()["text"];
*/
var categoryStrFromURL = decodeURI(getURLVars()["category"]).toLowerCase().replace(/\s/g, "_");
/* categoryStrFromURL gets value undefined when there are no parameters in URL */
if (categoryStrFromURL != "undefined" && categoryStrFromURL != "") {
  var categoryArrFromURL = categoryStrFromURL.split("+");
}
/*
adding elements of one array at the end of another
https://stackoverflow.com/a/17368101
*/
Array.prototype.extend = function(other_array) {
  if (Array.isArray(other_array)) {
    /* a test to check whether other_array really is an array */
    other_array.forEach(function(v) {
      this.push(v)
    }, this);
  } else {
    console.log("Parameter of function is not an array. Please ensure that you are passing a valid array as a 'parameter' into Array.extend(parameter)");
  }
}
/*
use:
var a = [1,2,3];
var b = [5,4,3];
a.extend(b);
*/
var softwareListOptions = {
  valueNames: ["name", "description", "category"]
};
var softwareList = new List("software-list", softwareListOptions);

// .search_page_main_search can be found in /layouts/partial/header.html
$(".search_page_main_search").on("keyup", function() {
  var searchString = $(this).val();
  softwareList.search(searchString);
});

$("#search_page_main_sort").on("click", function() {
  if ($("#search_page_main_sort").hasClass("asc")) {
    softwareList.sort('name', { order: "desc" });
    $("#search_page_main_sort").removeClass("asc").addClass("desc");
  } else if ($("#search_page_main_sort").hasClass("desc")) {
    softwareList.sort('name', { order: "asc" });
    $("#search_page_main_sort").removeClass("desc").addClass("asc");
  }
});

/*
$("#mobile_search").on("click", function() {
  if ($("#popover520431").hasClass("show")) {
    $("#popover520431").removeClass("show");
  } else {
    $("#popover520431").addClass("show");
  }
});
*/

var filterListOptions = {
  valueNames: ["category-filter"]
};
var filterList = new List("filter-list", filterListOptions);


/* selection array that holds the filter(category) values */
var selection = [];
/* extend selection array only if categoryArrFromURL is not undefined */
if (categoryArrFromURL) {
  selection.extend(categoryArrFromURL);
}
$("#filter-modal .list input.form-check-input").each(function() {
  for (var i = 0; i < selection.length; i++) {
    if ($(this).attr("id") == selection[i]) {
      $(this).attr("checked", "");
      return true;
      /* Returning non-false is the same as 'a continue statement in a for loop'; it will skip immediately to the next iteration */
    }
  }
});

function filterSoftwareList() {
  /*
  runs a filter on the list
  What it does is that, it loops through all the 'items' and runs the function(item);
  item is shown if true is returned and not shown if false is returned
  also once true or false is returned, current iteration is skipped(kind of like continue in for loop)
  */
  softwareList.filter(function(item) {
    /* show all items if all checkboxes are unticked */
    if (selection.length == 0) {
      return true;
    } else {
      /*
      looks for something with class 
      of "category", then turns any 
      values to lowercase just to make 
      sure human error doesn't break this
      */
      var categoryString = item.values().category.toLowerCase().replace(/\s/g, "_");
      /*
      this turns multiple entries separated 
      by a comma and space into different
      elements in an array
      */
      var categoryArray = categoryString.split("_|_");
      /* we then loop through the array */
      for (var i = 0; i < categoryArray.length; i++) {
        /*
        this checks each possible "category"
        against the selection
        and filters the list based on the 
        one that matches
        */
        for (var j = 0; j < selection.length; j++) {
          if (categoryArray[i] == selection[j]) {
            return true;
          }
        }
      }
    }
    return false;
  });
}
filterSoftwareList();
$(".filter-modal-body input[type='checkbox']").on("change", function() {
  /*
  this sets the selection term
  based on special "id" on <li>s in filter <ul>
  */
  if ($(this).is(":checked")) {
    selection.push($(this).attr("id").toLowerCase().replace(/\s/g, "_"));
  } else {
    var selectionIndex = selection.indexOf($(this).attr("id").toLowerCase().replace(/\s/g, "_"));
    selection.splice(selectionIndex, 1);
  }
  filterSoftwareList();
  return false;
});

/* Get search term from URL */
var searchStrFromURL = decodeURI(getURLVars()["s"]).replace(/\+/g, " ");
if (searchStrFromURL != "undefined" && searchStrFromURL != "") {
  $("#search_page_main_search").val(searchStrFromURL);
  softwareList.search(searchStrFromURL);
}
/* Rescan the rows so that popover works */
$("#search_page_main_search").on("change", function() {
  $("[data-toggle='popover']").popover();
});

/*
var stickyMenu = $(".menu").offset().top;

$(window).on("scroll", function() {  
  if ($(window).scrollTop() > stickyMenu-56) {
    $(".menu").removeClass("shadow-sm").addClass("shadow stick");
  } else {
    $(".menu").removeClass("shadow stick").addClass("shadow-sm");
  }  
});
*/
` }}

{{- $js_softlistjs := $script | resources.FromString "js/softlist.js" | minify }}
{{- $js_listjs.Content | safeJS }}
{{ $js_softlistjs.Content | safeJS -}}

{{- end }}
