<header>
  {{/*
  <!-- 
  purgecss scans layout files for classes to identify the necessary ones and remove from stylesheet those that are not used.
  Hence, the code 
    <nav class="navbar navbar-expand{{ if eq $.Title "Search" }}-lg{{ end }} navbar-light fixed-top">
  is changed to
    <nav class="navbar {{ if ne $.Title "Search" -}} navbar-expand {{- else -}} navbar-expand-lg {{- end }} navbar-light fixed-top">
  -->
  */}}
  <nav class="navbar {{ if ne $.Title "Search" -}} navbar-expand {{- else -}} navbar-expand-lg {{- end }} navbar-light fixed-top">
    <a class="navbar-brand bg-nav rounded px-3" href="{{ site.BaseURL }}"><span class="tg"><span class="brand">{{ site.Title }}</span>&nbsp;<sup><span class="small text-clr2">beta</span></sup></span></a>
    <a class="navbar-toggler border-0" role="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-antinav">{{ site.Data.icons.bars | safeHTML }}</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a role="button" class="btn bg-nav shadow-none" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="bottom" data-content="
          <a class='dropdown-item text-antinav' href='/contribute/'>Contribute!</a><br>
          ">{{ site.Data.icons.dotsVerticle | safeHTML }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
