{{ define "main" -}}

<!-- Number of softwares in database -->
{{- $soft_no := len (where site.RegularPages "Section" "==" "software") -}}
{{- $categ_no := len site.Taxonomies.categories -}}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid text-center bg-nav d-flex flex-column" style="height:100vh;">
  <div style="height:3.5rem;"></div>
  <div class="container my-auto">
    
    <div class="row">
    
    <div class="col-md-8">
      <div class="text-left tg"><h1 class="display-4">The Software Directory.</h1><br><span class="lead">Concise &amp; Professional.</span></div>
    </div>
    
    <div class="col-md-4">
      <br>
      <form action="/search">
      <input type="search" class="bg-nav border-0 form-control my-2 shadow-sm" name="s" placeholder="Search" autofocus>
      </form>
      <!-- <input type="submit">
      <p class="lead tg">{{ site.Params.tagline }}</p> -->
    </div>
    
    </div>
    <noscript class="alert alert-warning"><b>Warning:</b> Softorage may not work at its best if JavaScript is disabled.</noscript>
    
    
  </div>
  <hr class="my-4">
  <p class="lead">
    <a class="btn bg-clr1-light" href="/search/" role="button"><span class="fas fa-search text-clr1"></span>&nbsp; <span class="text-clr1">Search</span></a>&nbsp;<a class="btn main-gradient-light" href="#its_open" role="button"><span class="fas fa-chevron-down text-clr1"></span>&nbsp; <span class="tg">Explore</span></a>&nbsp;<a class="btn bg-clr2-light" href="/contribute/" role="button"><span class="fas fa-hands-helping text-clr2"></span>&nbsp; <span class="text-clr2">Contribute</span></a>
  </p>
</div>
<!-- Features -->
<!-- It's open! -->
<div class="container-fluid bg-antinav-light py-3">
<div class="container bg-nav rounded shadow-sm py-5">
  <span class="anchor" id="its_open"></span>
  <div class="container py-5">
    <div class="row text-center py-5">
      <div class="col-md-5 align-self-center">
        <span class="fas fa-lock-open text-clr1 p-5 border rounded" style="font-size:5.5rem;"></span>
      </div>
      <div class="col-md-7 text-antinav">
        <div class="display-4">Open!</div>
        <div class="my-5"></div>
        <p>Licensed under Apache license 2.0, one of the most permissive licenses</p>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Number of softwares -->
<div class="container bg-nav rounded shadow-sm py-5">
  <div class="container py-5">
    <div class="row text-center py-5">
      <div class="col-md-5 align-self-center">
        <span class="fas fa-chart-line text-clr1 p-5 border rounded" style="font-size:5.5rem;"></span>
      </div>
      <div class="col-md-7 text-antinav">
        <div class="display-4">{{ sub $soft_no 1 }}+ softwares</div>
        <div class="my-5"></div>
        <p>{{ sub $soft_no 1 }}+ softwares from over <a href="/categories">{{ $categ_no }} categories</a> have been added to directory till now!</p>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Innovative arrangement -->
<div class="container bg-nav rounded shadow-sm py-5">
  <div class="container py-5">
    <div class="row text-center py-5">
      <div class="col-md-5 align-self-center">
        <span class="fas fa-lightbulb text-clr1 p-5 border rounded" style="font-size:5.5rem;"></span>
      </div>
      <div class="col-md-7 text-antinav">
        <div class="display-4">Innovative</div>
        <div class="my-5"></div>
        <p>Objectively arranged specifications allow clear comparison between softwares</p>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Fast -->
<div class="container bg-nav rounded shadow-sm py-5 mb-5">
  <div class="container py-5">
    <div class="row text-center py-5">
      <div class="col-md-5 align-self-center">
        <span class="fas fa-bolt text-clr1 p-5 border rounded" style="font-size:5.5rem;"></span>
      </div>
      <div class="col-md-7 text-antinav">
        <div class="display-4">Fast</div>
        <div class="my-5"></div>
        <p>Powered by Hugo and hosted by GitLab, it works as fast as lightning!</p>
      </div>
    </div>
  </div>
</div>
<br>
</div>
<!-- Made with lots of love -->
<div class="container-fluid bg-clr1-light shadow-sm position-relative py-5">
  <div class="container py-5">
    <div class="container text-center py-5">
      <div class="my-5">
        <span class="fas fa-table fa-4x text-clr1 align-middle m-3"></span>
        <span class="fas fa-plus text-antinav align-middle"></span>
        <span class="fas fa-code fa-4x text-clr2 align-middle m-3"></span>
        <span class="fas fa-plus text-antinav align-middle"></span>
        <span class="fas fa-heart fa-4x text-danger align-middle m-3"></span>
      </div>
      <div class="display-4 text-antinav">Made with lots of love</div>
    </div>
  </div>
</div>

{{- end }}
