{{ define "main" -}}

<!-- Number of softwares in database -->
{{- $soft_no := len (where site.RegularPages "Section" "==" "software") -}}
{{- $categ_no := len site.Taxonomies.categories -}}

<!-- Jumbotron -->
<!--
background is made up of eight other properties:
  Syntax:
    background: background-image background-position / background-size background-repeat background-attachment background-origin background-clip background-color;
-->
<div class="jumbotron jumbotron-fluid text-center bg-nav d-flex flex-column mb-1" style="height:100vh; background: url('https://cdn.statically.io/img/img.softorage.com/background-cover/brown-leopard.jpg') 50% / cover no-repeat fixed #ff839e; box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.85);">
  
  <div style="height:3.5rem;" class="anchor" id="what_we_do_1"></div>
  
  <div class="container my-auto">
    <div class="text-left tg">
      <span class="h3">The internet is chock-full of awesome software, extremely useful information and <a class="text-reset" rel="noreferrer noopener nofollow" style="border-bottom: 3px dotted blue;" href="https://www.howtogeek.com/207692/yes-every-freeware-download-site-is-serving-crapware-heres-the-proof/" target="_blank" data-toggle="tooltip" data-placement="right" title="Click for more info">deadly malware</a>&nbsp;<span class="small"><span class="fa-xs text-muted">{{ site.Data.icons.externalLink | safeHTML }}</span></span>.</span>
      <div class="mb-5"></div>
      <span class="">But, we've got your back!</span>
    </div>
  </div>
  
  <hr class="my-4">
  <p class="lead">
    <a class="btn bg-clr1" href="#what_we_do_2" role="button" aria-label="Click or tap to scroll down"><span class="text-nav">{{ site.Data.icons.down | safeHTML }}</span></a>&nbsp;
  </p>
  
  
</div>

<div class="jumbotron jumbotron-fluid text-center bg-nav d-flex flex-column mb-1" data-src="https://cdn.statically.io/img/img.softorage.com/background-cover/commitment.jpg" style="height:100vh; background: url('https://cdn.statically.io/img/img.softorage.com/background-cover/commitment.jpg') 50% 40% / cover no-repeat fixed #829cff; box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.75);">
  
  <div style="height:3.5rem;" class="anchor" id="what_we_do_2"></div>
 
  <div class="container my-auto">
    <div class="text-left tg">
      <span class="lead">We want people to get the software they want with confidence. The confidence that they are safe. The confidence that they are gently protected from malware when they get a fabulous software on their computer.</span>
      <div class="mb-3"></div>
      <span class="h3">That confidence, we want to build.</span>
    </div>
  </div>
  
  <hr class="my-4">
  <p class="lead">
    <a class="btn bg-clr1" href="#what_we_do_3" role="button" aria-label="Click or tap to scroll down"><span class="text-nav">{{ site.Data.icons.down | safeHTML }}</span></a>&nbsp;
  </p>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-nav d-flex flex-column mb-1" data-src="https://cdn.statically.io/img/img.softorage.com/background-cover/woman-coffee.jpg" style="height:100vh; background: url('https://cdn.statically.io/img/img.softorage.com/background-cover/woman-coffee.jpg') 50% 40% / cover no-repeat fixed #ff839e; box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.7);">
  
  <div style="height:3.5rem;" class="anchor" id="what_we_do_3"></div>
 
  <div class="container my-auto">
    <div class="text-left tg">
      <span class="h3">Say 'No' to adware software downloads and unwanted toolbars</span>
      <div class="mb-2"></div>
      <span class="">With download links that point to official software website, you download from authentic sources, stay pleasantly safe, and enjoy the software you wish.</span>
    </div>
  </div>
  
  <hr class="my-4">
  <p class="lead">
    <a class="btn bg-clr1" href="#what_we_do_4" role="button" aria-label="Click or tap to scroll down"><span class="text-nav">{{ site.Data.icons.down | safeHTML }}</span></a>&nbsp;
  </p>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-nav d-flex flex-column mb-1" data-src="https://cdn.statically.io/img/img.softorage.com/background-cover/white-and-brown-eggs.jpg" style="height:100vh; background: url('https://cdn.statically.io/img/img.softorage.com/background-cover/white-and-brown-eggs.jpg') 50% 35% / cover no-repeat fixed #829cff; box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.6);">
  
  <div style="height:3.5rem;" class="anchor" id="what_we_do_4"></div>

  <div class="container my-auto">
    <div class="text-left tg">
      <span class="h3">Objective presentation of software related information facilitates easy and efficient comparison among different software.</span>
    </div>
  </div>
  
  <hr class="my-4">
  <p class="lead">
    <a class="btn bg-clr1" href="#what_we_do_5" role="button" aria-label="Click or tap to scroll down"><span class="text-nav">{{ site.Data.icons.down | safeHTML }}</span></a>&nbsp;
  </p>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-nav d-flex flex-column mb-1" data-src="https://cdn.statically.io/img/img.softorage.com/background-cover/the-flash.jpg" style="height: 100vh; background: url('https://cdn.statically.io/img/img.softorage.com/background-cover/the-flash.jpg') 50% 70% / cover no-repeat fixed #ff839e; box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.78);">
  
  
  <div style="height:3.5rem;" class="anchor" id="what_we_do_5"></div>
  
  <div class="container my-auto">
    <div class="text-left tg">
      <span class="h3">Built with <span style="border-bottom: 3px double blue;" data-toggle="tooltip" data-placement="bottom" title="Fastest static site generator out there!">Hugo</span>, hosted on <span style="border-bottom: 3px double blue;" data-toggle="tooltip" data-placement="bottom" title="Complete DevOps platform, delivered as a single application">GitLab</span> as <a class="text-reset" rel="noreferrer noopener nofollow" style="border-bottom: 3px dotted blue;" href="https://gitlab.com/Softorage/softorage.gitlab.io/" target="_blank">a public open source project</a>&nbsp;<span class="small"><span class="fa-xs text-muted">{{ site.Data.icons.externalLink | safeHTML }}</span></span>, and served via <span style="border-bottom: 3px double blue;" data-toggle="tooltip" data-placement="bottom" title="Ultra-fast, agile, secure static and dynamic content delivery">Cloudflare CDN</span>.</span>
      <div class="mb-5"></div>
      <span class="lead">Yep, we are <em>lightning fast!</em></span>
    </div>
  </div>
  
  <hr class="my-4">
  <p class="lead">
    <a class="btn bg-clr1" href="#what_we_do_6" role="button" aria-label="Click or tap to scroll down"><span class="text-nav">{{ site.Data.icons.down | safeHTML }}</span></a>&nbsp;
  </p>
  
</div>


<div class="jumbotron jumbotron-fluid text-center bg-nav d-flex flex-column mb-1" data-src="https://cdn.statically.io/img/img.softorage.com/background-cover/dog-with-flower.jpg" style="height: 100vh; background: url('https://cdn.statically.io/img/img.softorage.com/background-cover/dog-with-flower.jpg') 50% 10% / cover no-repeat fixed #829cff; box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.8);">
  
  
  <div style="height:3.5rem;" class="anchor" id="what_we_do_6"></div>
  
  <div class="container my-auto">
    <div class="text-left tg">
      <span class="h3">In your service, to help you stay safe from malware. Always.</span>
      <div class="mb-5"></div>
      <span class="">Join us on our mission to help everyone stay genially safe.</span>
    </div>
    <div class="text-left mt-4">
      <a class="btn bg-clr1-light mx-3" href="https://www.facebook.com/{{ site.Title }}/" data-toggle="tooltip" data-placement="bottom" title="Like Facebook page" aria-label="Like Facebook page"><span class="fa-lg">{{ site.Data.icons.facebook | safeHTML }}</span></a>
      <a class="btn bg-clr1-light mx-3" href="https://twitter.com/{{ site.Title }}/" data-toggle="tooltip" data-placement="bottom" title="Follow on Twitter" aria-label="Follow on Twitter"><span class="fa-lg">{{ site.Data.icons.twitter | safeHTML }}</span></a>
      <a class="btn bg-clr1-light mx-3" href="https://www.instagram.com/{{ site.Title }}/" data-toggle="tooltip" data-placement="bottom" title="Follow on Instagram" aria-label="Follow on Instagram"><span class="fa-lg">{{ site.Data.icons.instagram | safeHTML }}</span></a>
      <a class="btn bg-clr1-light mx-3 my-2" href="/contribute/"><span class="text-clr1">Contribute</span></a>
    </div>
  </div>
  
  <hr class="my-4">
  <p class="lead">
    <a class="btn bg-clr1" href="#action_call" role="button" aria-label="Click or tap to scroll down"><span class="text-nav">{{ site.Data.icons.down | safeHTML }}</span></a>&nbsp;
  </p>
</div>

{{ partialCached "reusables/action-call.html" . }}
<!-- Features -->
<!-- It's open! -->
<!--div class="container-fluid bg-antinav-light py-3">
<div class="container bg-nav rounded shadow-sm py-5">
  <span class="anchor" id="its_open"></span>
  <div class="container py-5">
    <div class="row text-center py-5">
      <div class="col-md-5 align-self-center">
        <span class="text-clr1 p-5 rounded" style="font-size:5.5rem;">{{ site.Data.icons.lockOpen | safeHTML }}</span>
      </div>
      <div class="col-md-7 text-antinav">
        <div class="display-4">Open!</div>
        <div class="my-5"></div>
        <p>Licensed under Apache license 2.0, one of the most permissive licenses</p>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Number of softwares >
<div class="container bg-nav rounded shadow-sm py-5">
  <div class="container py-5">
    <div class="row text-center py-5">
      <div class="col-md-5 align-self-center">
        <span class="text-clr1 p-5 rounded" style="font-size:5.5rem;">{{ site.Data.icons.lineChart | safeHTML }}</span>
      </div>
      <div class="col-md-7 text-antinav">
        <div class="display-4">{{ sub $soft_no 1 }} and counting</div>
        <div class="my-5"></div>
        <p>{{ sub $soft_no 1 }}+ software from over <a href="/categories">{{ $categ_no }} categories</a> have been added to directory till now!</p>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Innovative arrangement >
<div class="container bg-nav rounded shadow-sm py-5">
  <div class="container py-5">
    <div class="row text-center py-5">
      <div class="col-md-5 align-self-center">
        <span class="text-clr1 p-5 rounded" style="font-size:5.5rem;">{{ site.Data.icons.bulb | safeHTML }}</span>
      </div>
      <div class="col-md-7 text-antinav">
        <div class="display-4">Innovative</div>
        <div class="my-5"></div>
        <p>Objectively arranged specifications allow clear comparison between software</p>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Fast >
<div class="container bg-nav rounded shadow-sm py-5 mb-5">
  <div class="container py-5">
    <div class="row text-center py-5">
      <div class="col-md-5 align-self-center">
        <span class="text-clr1 p-5 rounded" style="font-size:5.5rem;">{{ site.Data.icons.bolt | safeHTML }}</span>
      </div>
      <div class="col-md-7 text-antinav">
        <div class="display-4">Fast</div>
        <div class="my-5"></div>
        <p>Powered by Hugo and hosted by GitLab, it works as fast as lightning!</p>
      </div>
    </div>
  </div>
</div>
<br>
</div-->

{{- end }}
{{ define "script" }}
{{- $js_toadjs := resources.Get "js/toad.next.min.js" }}
{{- $js_toadjs.Content | safeJS }}
{{ end }}
